// @media(max-width: 1200px) {
//   .address {
//     text-align: center;
//   }
//   .directions {
//     text-align: center;
//   }
// }

@media(max-width: 500px) {
  .address {
    text-align: left;
  }
  .directions {
    text-align: left;
  }
}

.contact-container {
  padding: 28px 0;
}

// .contact-container h4, p {
//   padding: 0 !important;
// }

.contact-text {
  padding-top: 20px;
}

.contact-text p {
  margin: 0;
}
.contact-container h1 {
  text-align: center;
}
.contact-sm-container {
  padding: 0 20px;
}

// #map {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   width: 100%;
// }


#menu {
position: absolute;
background: #fff;
padding: 10px;
font-family: 'Open Sans', sans-serif;
}
.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
