.address {
  text-align: left;
}

.contact-container {
  padding: 28px 20px;
}

.contact-container h4, p {
  padding: 0 !important;
}

.directions {
  // padding: 28px 0;
  text-align: right;
}

// .contact-text {
//   display: flex;
// }

.contact-text p {
  margin: 0;
}
.contact-container h1 {
  text-align: center;
}
