.contact-sm-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.map {
  height: 100%;
}

@media(max-width: 800px) {
  .contact-sm-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .map {
    height: 400px;
  }
}

.contact-container {
  padding: 28px 0;
}

.contact-text {
  padding-top: 20px;
}

.contact-text p {
  margin: 0;
}
.contact-container h1 {
  text-align: center;
}
.contact-sm-container {
  padding: 0 20px;
}

// #map {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   width: 100%;
// }


#menu {
  display: none;
}
.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
