.tab {
  h4 {
    padding: 4vh 0;
  }
  #title-no-bottom-pad {
    padding-bottom: 0;
  }

  #para-no-top-pad {
    padding-top: 0;
  }
}

.event-container h4 {
  padding: 60px 0;
}

.event-container h1 {
  padding: 60px 0;
}

.no-padding {
  padding: 0 !important;
}

.no-padding p {
  padding: 0;
}

.empty-navbar {
  height: 58px;
  width: 100vw;
  background-color: white;
}

.review p {
  padding: 0;
  color: rgba(0,0,0,0.6);
}

.review {
  padding-bottom: 4vh;
}

.collaborators p {
  padding: 0;
  margin-bottom: 0;
}

.tab p {
  padding-top: 0;
}

.event-text {
  padding: 0 20px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  h1 {
    padding: 16vh 0 8vh 0;
  }
  h4 {
    padding: 8vh 0;
  }
  p {
    padding: 2vh 0;
  }
}

@media(max-width: 800px) {
  .event-text h1 {
    padding-top: 40px;
  }
}
