  .studio-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

@media(max-width: 575px) {
  .studio-images {
    display: grid;
    grid-template-columns: 1fr;
  }
  // .map {
  //   height: 400px;
  // }
}


// @media(max-width: 1800px) {
//   .studio-images {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-gap: 20px;
//   }
//   // .map {
//   //   height: 100%;
//   // }
// }


// .studio-image-1 {
//   background-color: #931663;
// }

// .studio-image-2 {
//   background-color: #22407A;
// }

// .studio-image-3 {
//   background-color: #6AA29C;
// }

.studio-container {
  min-height: 60vh;
  text-align: center;
  padding: 0 20px;
  h1 {
    padding: 8vh 0 0 0;
  }
  h4, h6 {
    padding: 0 0 4vh 0;
  }

  p {
    padding: 0;
  }
  .studio-text {
    padding-bottom: 4vh;
  }
}
