.studio-container {
  h1 {
    padding: 8vh 0 0 0;
  }
  h4, h6 {
    padding: 0 0 4vh 0;
  }

  p {
    padding: 0;
  }
  .text {
    padding-bottom: 4vh;
  }
}

// .studio-images {
//   background-image: url(studio-1.jpg);
//   background-repeat: no-repeat;
//   max-width: 50%;
//   height: auto;
//   background-size: cover;
//   background-position: center;
// }
