<div class="footer row">
  <div class="contact col-4">
    <p><strong>make space studios</strong></p>
    <p>newnham terrace</p>
    <p>SE1 7DR</p>
  </div>
  <div class="opening-hours col-4">
    <h4>opening hours</h4>
    <p>everyday</p>
    <p>10am - 10pm</p>
  </div>
  <div class="footer-links col-4">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><p>rachelkay.org</p></a>
    <p id="email">creationboxlondon@yahoo.com</p>
  <div>
</div>
