<div class="footer">
  <div class="contact">
    <p><strong>make space studios</strong></p>
    <p>newnham terrace</p>
    <p>SE1 7DR</p>
  </div>
  <div class="opening-hours">
    <h4>opening hours</h4>
    <p>everyday</p>
    <p>10am - 10pm</p>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><p>rachelkay.org</p></a>
    <p>creationboxlondon@yahoo.com</p>
  <div>
</div>
