<div class="nav-container row">
  <div class="sm-nav col-12">
    <ul>
      <li class="sm-nav-item" style="background-color: rgba(147,22,99,0.7);"  id="nav-1">
        <%= link_to "about", message_path, class: "sm-nav-link" %>
      </li>
      <li class="sm-nav-item" style="background-color: rgba(34,64,122,0.7);" id="nav-2" >
        <%= link_to "studio hire", studio_path, class: "sm-nav-link"%>
      </li>
      <li class="sm-nav-item" style="background-color: #6AA29C;" id="nav-3">
        <%= link_to "events", events_path, class: "sm-nav-link" %>
      </li>
      <li class="sm-nav-item" style="background-color: rgba(0,0,0,0.4);" id="nav-4">
        <%= link_to "contact", contact_path, class: "sm-nav-link" %>
      </li>
    </ul>
  </div>
</div>
