<div class="sm-banner">
  <a href="/#"><div class="container">
    <h1>CREATION BOX</h1>
    <h4>L O N D O N</h4>
    <p>to think outside the box, you have to start inside the <em>box.</em></p>
<!--     <p>Creation Box London was the winner of 'The Outstanding Studio Award' at Inspire Awards 2015, hosted by Dance London.</p>
-->
  </div></a>
</div>
