<div class="nav-container">
  <div class="sm-nav">
    <ul>
      <li class="sm-nav-item" style="background-color: rgba(147,22,99,0.7);">
        <%= link_to "about", message_path, class: "sm-nav-link", id: "nav-1" %>
      </li>
      <li class="sm-nav-item" style="background-color: rgba(34,64,122,0.7);">
        <%= link_to "studio hire", studio_path, class: "sm-nav-link", id: "nav-2" %>
      </li>
      <li class="sm-nav-item" style="background-color: #6AA29C;">
        <%= link_to "events", events_path, class: "sm-nav-link", id: "nav-3" %>
      </li>
      <li class="sm-nav-item" style="background-color: rgba(0,0,0,0.4);">
        <%= link_to "contact", contact_path, class: "sm-nav-link", id: "nav-4" %>
      </li>
    </ul>
  </div>
</div>
