<div class="contact-container">
  <h1>contact</h1>
  <div class="contact-sm-container row">
<!--   <form>
    <input type="text">
    <input type="submit" value="Find">
  </form> -->
<!--   <label for="streets">streets</label>
  <input id="light-v10" type="radio" name="rtoggle" value="light" />
  <label for="light">light</label>
  <input id="dark-v10" type="radio" name="rtoggle" value="dark" />
  <label for="dark">dark</label>
  <input id="outdoors-v11" type="radio" name="rtoggle" value="outdoors" />
  <label for="outdoors">outdoors</label>
  <input id="satellite-v9" type="radio" name="rtoggle" value="satellite" />
  <label for="satellite">satellite</label> -->
    <div class="contact-text col-6">
      <div class="address">
        <h4>ADDRESS</h4>
        <br>
        <p>Make Space Studios</p>
        <p>Newnham Terrace</p>
        <p>SE1 7DR</p>
        <p>Nearest Tube - Lambeth North (3 minute walk)</p>
        <p>Nearest Main Line - Waterloo Station (?? minute walk)</p>
        <br>
      </div>
      <br>
      <br>
      <div class="directions">
        <h4>DIRECTIONS</h4>
        <br>
        <p>Across from Lambeth North tube, you will see a sushi restaurant.</p>
        <p>Directly opposite is Newnham Terrace. </p>
        <p>Take a right down that road, look directly up and you will see pink stairs and a large Make Space Studios sign.</p>
        <br>
        <p><strong>YOU HAVE ARRIVED!</strong></p>
      </div>
    </div>
    <!-- Add a map -->
    <div id="map" class="col-6" style="width: 100% padding: 12px 20px;"></div>
    <div id="menu">
    <input style="display: none;"
    id="streets-v11"
    type="radio"
    name="rtoggle"
    value="streets"
    checked="checked"
    />
    </div>
  </div>
</div>
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoieWFzbWluanMiLCJhIjoiY2s0MzZhNnduMDM5ZzNucGEzNTJucDkxZyJ9.MvMkfQDy8DyZq5xlPg_f5A';

    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [ -0.113763, 51.4984465 ],
      zoom: 16
    });

    var layerList = document.getElementById('menu');
    var inputs = layerList.getElementsByTagName('input');

    function switchLayer(layer) {
    var layerId = layer.target.id;
    map.setStyle('mapbox://styles/mapbox/' + layerId);
    }

    for (var i = 0; i < inputs.length; i++) {
    inputs[i].onclick = switchLayer;
    }

    new mapboxgl.Marker()
    .setLngLat([ -0.113763, 51.4984465 ])
    .addTo(map);
  </script>
