<div class="contact-container">
  <h1>contact</h1>
  <div class="contact-text row">
    <div class="address col-6">
      <h4>ADDRESS</h4>
      <p>Make Space Studios</p>
      <p>Newnham Terrace</p>
      <p>SE1 7DR</p>
      <p>Nearest Tube - Lambeth North (3 minute walk)</p>
      <p>Nearest Main Line - Waterloo Station (?? minute walk)</p>
    </div>
    <div class="directions col-6">
      <h4>DIRECTIONS</h4>
      <p>Across from Lambeth North tube, you will see a sushi restaurant.</p>
      <p>Directly opposite is Newnham Terrace. </p>
      <p>Take a right down that road, look directly up and you will see pink stairs and a large Make Space Studios sign.</p>
      <br>
      <p><strong>YOU HAVE ARRIVED!</strong></p>
    </div>
  </div>
  <!-- Add a map -->
</div>
