<%= render "shared/sm_banner" %>
<%= render "shared/navbar" %>

<div class="event-container">
  <div class="text">
    <h1 style="padding-bottom: 0;">events</h1>
    <h4 class="no-padding">MENTORING:FACILITATION</h4>
    <h4 class="no-padding">INTENSIVES:PERFORMANCE</h4>

    <div class="tab">
      <h4 id="title-no-bottom-pad">INBOX</h4>
      <p id="para-no-top-pad">yearly mentoring program for emergent choreographers</p>

      <p>The InBox concept was devised so that fresh emergent choreographers can gain invaluable feedback from a panel of people who have the knowledge, expertise and information to give consturctive feedback that will enhance their work.</p>
      <p>The yearly programme provides an intimate sharing space in the studio and an on-site location sharing space, business mentoring, one-on-one mentoring sessions, facilatation, a week of studio time for RnD and access to industry professionals as their mentors!</p>

      <p>This concept was created by Creative Director of The Box - Rachel Kay, so that creative artistic talent can be given guidance and support in launching their companies and profile.</p>
      <br>
      <div class="review">
        <p><em>"With Creation Box's InBox sharing, I was given complete freedom to share the best side of myself and my works. With fantastic guidance, a programme tailored to my needs/ambitions, and a collaborative approach to organising the sharing's specifics.</em><p>
        <p><em>Creation Box provided me with an invaluable opportunity where many doors were opened. These doors continue to remain wide open with the supportive 'doorstoppers' that Creation Box continue to provide to me."</em></p>
        <p><em>Brian Gillespie - B-Hybrid Dance</em></p>
      </div>
    </div>
  </div>

  <div class="empty-navbar"></div>
  <div class="text">
    <div class="tab">
      <h4 style="padding-bottom: 0;">UMBRA</h4>
      <p>A creative project devised by Creative Director of The Box - Rachel Kay. The box brought 5 top UK choreographers together, to work alongside, 5 creators from Make space Studios to devise an evening of work based round the title theme-'UMBRA'.</p>
      <div class="no-padding">
        <p>The ethos of this gallery project was</p>
        <p><strong>COMMUNICATION-COLLABORATION-CREATION</strong></p>
      </div>
      <br>
      <div class="collaborators">
        <p>Collaborators:</p>
        <p>Dance Adventures & Charlie Cridlan</p>
        <p>Debbie Norris & Gala Bell</p>
        <p>Creation Box London & Laurence Causse Parsley</p>
        <p>James Jenkins/BirdGang & Lisa King</p>
        <p>Pell Ensemble & Hiroko Imada</p>
      </div>
      <br>
      <div class="review">
        <p><em>"Creation Box offered me an opportunity to be involved with InBox, an intimate sharing in front of industry professionals. It was a platform/experience like no other, it was tailored to the artists creative practise and needs for development.</em></p>
        <p><em>Creation Box supplied knowledge, support and guidance without having to compromise our work. It was a session that has clarified for me a focus and direction for my work and company and also feedback to reflect upon from experts I wouldn't necessarily have easy access to."</em></p>
        <p><em>Lee Griffiths - Choreogragher of The Company/Co-Creator of Artists4Artists/Creative Producer</em></p>
      </div>
    </div>
  </div>
</div>
