<%= render "shared/sm_banner" %>
<%= render "shared/navbar" %>

<div class="event-container">
  <div class="event-text">
    <h1 style="padding-bottom: 0;">events</h1>
    <h4 class="no-padding">ART:DANCE:PHOTOGRAPHY</h4>
    <h4 class="no-padding">EDUCATION:PERFORMANCE</h4>

    <div class="tab">
      <h4 id="title-no-bottom-pad">EVENT ONE</h4>
      <p id="para-no-top-pad" style="font-size: 20px;">information on event one</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        <br>
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        <br>
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        <br>
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        <br>
      Excepteur sint occaecat cupidatat non proident,
        <br>
      sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <br>
      <br>
<!--       <div class="review">
        <p><em>"With Creation Box's InBox sharing, I was given complete freedom to share the best side of myself and my works. With fantastic guidance, a programme tailored to my needs/ambitions, and a collaborative approach to organising the sharing's specifics.</em><p>
        <p><em>Creation Box provided me with an invaluable opportunity where many doors were opened. These doors continue to remain wide open with the supportive 'doorstoppers' that Creation Box continue to provide to me."</em></p>
        <p><em>Brian Gillespie - B-Hybrid Dance</em></p>
      </div> -->
    </div>
  </div>

  <div class="empty-navbar" style="border-top: solid 1px #22407A; border-bottom: solid 1px #22407A"></div>
  <div class="event-text">
    <div class="tab">
      <h4 style="padding-bottom: 0;">EVENT TWO</h4>
      <p style="font-size: 20px;">information on event two</p>
<!--       <div class="no-padding">
        <p>The ethos of this gallery project was</p>
        <p><strong>COMMUNICATION-COLLABORATION-CREATION</strong></p>
      </div> -->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        <br>
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        <br>
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        <br>
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        <br>
      Excepteur sint occaecat cupidatat non proident,
        <br>
      sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <br>
      <br>
<!--       <div class="collaborators">
        <p>Collaborators:</p>
        <p>Dance Adventures & Charlie Cridlan</p>
        <p>Debbie Norris & Gala Bell</p>
        <p>Creation Box London & Laurence Causse Parsley</p>
        <p>James Jenkins/BirdGang & Lisa King</p>
        <p>Pell Ensemble & Hiroko Imada</p>
      </div>
      <br>
      <div class="review">
        <p><em>"Creation Box offered me an opportunity to be involved with InBox, an intimate sharing in front of industry professionals. It was a platform/experience like no other, it was tailored to the artists creative practise and needs for development.</em></p>
        <p><em>Creation Box supplied knowledge, support and guidance without having to compromise our work. It was a session that has clarified for me a focus and direction for my work and company and also feedback to reflect upon from experts I wouldn't necessarily have easy access to."</em></p>
        <p><em>Lee Griffiths - Choreogragher of The Company/Co-Creator of Artists4Artists/Creative Producer</em></p>
      </div> -->
    </div>
  </div>
</div>
<%= render "shared/top_footer" %>
