<%= render "shared/banner" %>
<%= render "shared/navbar" %>
<div class="jumbo-container">
  <div class="home-container row">
    <div class="text col-12">
      <h1>you are, the reason you fly</h1>
      <h4>WHAT I BELIEVE</h4>

  <!--     <p>What I believe in -</p> -->
      <p>I believe in self expression and fulfillment expressed through powerful collaborative dance led artistic work including film, music, art and photography.</p>
      <p>I believe that your art is a form of therapy which enables you to express yourself freely and opens doors to new opportunities.</p>
      <p>I believe In helping raw, emergent talents find their feet.</p>
      <p>There are no barriers spared in helping nurture and support the talent that walks through the boxes doors.</p>
      <p>At Creation box the doors are open to all genres of dance, it does not isolate one style and welcomes all forms of creativity whether it be Art, Dance, Film, Music or Photography!</p>
      <p>Creation Box encourages communication, collaboration and creativity across the art sector.</p>
      <p>Creation Box London also provides a home for outstanding training through <a href="https://www.instagram.com/runwayhouse"><strong>'Runway House'</strong></a> founded by CHARLENE WILLETS.</p>
      <p>I believe if your training is at its best, then the outcome will be exceptional.</p>
      <p>The student will be ready to face the dance world and have all the tools they need to become an accomplished artist.</p>
      <p>I also believe in investing in the studio and the people that rehearse at The Box.</p>
      <p>Help, guidance and feedback is on hand, if asked for or needed.</p>
      <p>Creation Box London, I believe, is an exciting yet safe place for creation to happen.</p>
      <p>It is a private hub for creative people to loose their inhibitions and find their feet, so that they can conquer their fears and express themselves openly to the world.</p>

      <p>What I believe in is Creation Box London!</p>
      <br>
      <p><strong>RACHEL KAY - CREATIVE DIRECTOR</strong></p>
      <br>
      <br>
    </div>
  </div>
  <%= render "shared/sm_navbar" %>
</div>
<%= render "shared/top_footer" %>

