<div class="studio-container">
  <div class="studio-images">
<!--     <img src="studio-1.jpg" alt="Creation Box Studio">
    <img src="cb-2.png" alt="Creation Box Studio with dancers"> -->
  </div>
   <div class="text">

    <h1>studio hire</h1>
    <h6>INFORMATION</h6>
    <br>

    <p>non-funded rates - noone is paid to be in the room</p>
    <h4>£12.50 per hour</h4>
    <br>
    <p>workshops/intensives/training</p>
    <h4>£25 per hour</h4>
    <br>
    <p>email <strong>creationboxlondon@yahoo.com</strong> to book space</p>
  </div>
</div>
