<%= render "shared/sm_banner" %>
<%= render "shared/navbar" %>
<div class="studio-container">
   <div class="text">

    <h1>studio hire</h1>
    <div class="studio-images">
      <div class="studio-image-1" style="height: 300px;">
      </div>
      <div class="studio-image-2" style="height: 300px;">
      </div>
      <div class="studio-image-3" style="height: 300px;">
      </div>
    </div>
  <!--   <h6>INFORMATION</h6> -->
    <br>

    <p>non-funded rates - noone is paid to be in the room</p>
    <h4>£12.50 per hour</h4>
    <br>
    <p>workshops/intensives/training</p>
    <h4>£25 per hour</h4>
    <br>
    <p>open 10am - 10pm</p>
    <br>
    <p>email <strong>creationboxlondon@yahoo.com</strong> to book space</p>
  </div>
</div>
<%= render "shared/top_footer" %>

