// .banner {
//   background-image: url(plant.jpg);
//   background-repeat: no-repeat;
//   max-width: 100%;
//   min-height: -webkit-fill-available;
//   height: auto;
//   background-size: cover;
//   background-position: center;
//   padding: 100px 20px;
//   display: flex;
//   position: relative;
//   z-index: 10;
//  }

@media(max-width: 1500px) {
  .banner {
  background-image: url(plant.jpg);
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: -webkit-fill-available;
  height: auto;
  background-size: cover;
  background-position: center;
  padding: 100px 20px;
  display: flex;
  position: relative;
  z-index: 10;
 }
 .banner p {
    font-size: 32px;
    padding: 24px 0;
    color: black;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

@media(max-width: 600px) {
  .banner {
    background-image: url(plant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: fit-content;
    height: auto;
  }

  .banner p, em {
    display: none;
  }
}

.banner a {
  text-decoration: none !important;
  color: black !important;
}

.banner em {
  // border: solid 1px black;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
  // box-shadow: 1px 1px 3px rgba(0,0,0,1);
  padding: 12px;
  background-color: rgba(0,0,0,0.6);
  // background-color: #931663;
  opacity: 0.5;
  color: white;
}

.banner h1 {
  margin: 0;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  z-index: 11;
}


