@media (min-width: 576px) {
  .navbar-expand-sm {
    flex-flow: row nowrap;
    justify-content: center !important;
  }
}

.navbar-lewagon {
  justify-content: center;
  // background: rgba(248,248,246,0.8);
  background-color: white;
  border-top: solid 1px rgba(248,248,246,0.8);
  border-bottom: solid 1px rgba(248,248,246,0.8);

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }

  li {
    list-style-type: none;
    display: inline;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-items {
  text-align: right;
}
