@media(max-width: 1500px) {
  .sm-nav-item {
    display: none;
  }
  #nav-1, #nav-2, #nav-3, #nav-4 {
    display: none;
  }
  .sm-nav.col-12 {
    height: 10px;
  }
}

@media(max-width: 575px) {
  #nav-1, #nav-2, #nav-3, #nav-4 {
    display: grid;
  }
  .nav-container {
    padding: 20px;
  }
  .sm-nav {
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 12px;
  ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  li {
    width: 100%;
    // height: 20vh;
    a {
      text-decoration: none;
      color: black;
    }
  }
  .sm-nav-item {
    // opacity: 0.6;
    margin-bottom: 12px;
    border-radius: 12px;
    height: 134px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
}

.nav-container {
  min-height: fit-content;
}

.sm-nav {
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 12px;
  ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  li {
    width: 100%;
    // height: 20vh;
    a {
      text-decoration: none;
      color: black;
    }
  }
  .sm-nav-item {
    // opacity: 0.6;
    margin-bottom: 12px;
    border-radius: 12px;
    height: 134px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sm-nav-link {
  font-size: 36px;
  font-color: black;
  padding: 0;
  align-content: center;
}

